@import "tailwindcss";
@import '@fontsource/inter';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  scrollbar-color: #f2f1f1;
  font-family: 'Dosis', sans-serif;

}

nav {
  font-family: 'Delius', sans-serif;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  /* Largura da scrollbar */
  ::-webkit-scrollbar {
    width: 8px; 
  }

  /* Cor do trilho */
  ::-webkit-scrollbar-track {
    background: #010F22; 
  }

  /* Cor da barrinha */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
    min-height: 40px; 
  }

  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

}



